/* Contact Form Section */
.contact-section {
  padding: 50px 20px;
}

.contact-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contact-content h2,
.map-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.contact-content p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: var(--text-color);
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: left;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-row .form-group {
  width: 48%;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Responsive */
@media (max-width: 768px) {
  form {
    grid-template-columns: 1fr;
  }

  .form-row {
    flex-direction: column;
  }

  .form-row .form-group {
    width: 100%;
  }
}
/* Map Section */
.map-section {
  text-align: center;
  padding: 50px 20px;
}

.map-content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.map-content p {
  max-width: 45%;
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: var(--text-color);
  text-align: right;
}

.map {
  flex: 1;
  margin: 0 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 15px;
}

/* Responsive */

@media (max-width: 768px) {
  .map-content {
    flex-direction: column;
  }

  .map-content p {
    max-width: 100%;
    text-align: center;
  }

  .map {
    width: 100%;
    margin: 20px 0;
  }
}
